max_chat_blob_buffer_token_size: 1024
buffer_flush_interval: 3600

openai_api_key: YOUR-KEY
openai_base_url: https://api.openai.com/v1/

best_llm_model: gpt-4o
embedding_model: text-embedding-3-small

additional_user_profiles:
  - topic: "gaming"
    sub_topics:
      - "Soul-Like"
      - "RPG"
      - name: "MOBA"
        description: "Enum, LOL, DOTA..."
