max_chat_blob_buffer_token_size: 2048

openai_api_key: sk-YOUR-TOKEN
openai_base_url: https://api.openai.com/v1/

best_llm_model: gpt-4o
cheap_llm_model: gpt-4o-mini
embedding_model: text-embedding-3-small
